<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd ">

    <!-- 启动注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 扫描业务代码 -->
    <context:component-scan base-package="com.ysu.*" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--加载样式文件-->
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/jquery/**" location="/jquery/" />
    <mvc:resources mapping="/bootstrap/**" location="/bootstrap/"></mvc:resources>
    <mvc:default-servlet-handler />

    <!--<mvc:view-controller path="login" view-name="login"/>-->
    <mvc:view-controller path="/login" view-name="login"/>
    <mvc:view-controller path="/register"  view-name="user/register"/>

    <!--拦截器：-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"></mvc:mapping>
            <mvc:exclude-mapping path="/login"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/register"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/active"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/doregister"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/doAjaxLogin"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/*/vaildationLongName"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/bootsrap/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/css/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/fonts/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/img/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/jquery/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/layer/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/script/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/ztree/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/**/time/**"></mvc:exclude-mapping>
            <bean class="com.ysu.web.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>


</beans>